In [47]:
import gc
import time
import numpy as np
import pandas as pd

In [48]:
test = pd.read_csv('databases/test.tsv', sep = '\t')

In [49]:
train = pd.read_csv('databases/train.tsv', sep = '\t')

In [50]:
test.head()

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NaN,1,Size 7
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NaN,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined..."
2,2,Coach bag,1,Vintage & Collectibles/Bags and Purses/Handbag,Coach,1,Brand new coach bag. Bought for [rm] at a Coac...
3,3,Floral Kimono,2,Women/Sweaters/Cardigan,NaN,0,-floral kimono -never worn -lightweight and pe...
4,4,Life after Death,3,Other/Books/Religion & Spirituality,NaN,1,Rediscovering life after the loss of a loved o...

In [51]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [52]:
train.price.describe()

count    29999.000000
mean        26.953582
std         40.394998
min          0.000000
25%         10.000000
50%         17.000000
75%         29.000000
max       1506.000000
Name: price, dtype: float64

In [59]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.2.1-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\meowchelle\onedrive - visionary web dev\infx 490\anaconda\lib\site-packages (from lightgbm) (0.23.2)
Requirement already satisfied: wheel in c:\users\meowchelle\onedrive - visionary web dev\infx 490\anaconda\lib\site-packages (from lightgbm) (0.35.1)
Requirement already satisfied: numpy in c:\users\meowchelle\onedrive - visionary web dev\infx 490\anaconda\lib\site-packages (from lightgbm) (1.19.2)
Requirement already satisfied: scipy in c:\users\meowchelle\onedrive - visionary web dev\infx 490\anaconda\lib\site-packages (from lightgbm) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\meowchelle\onedrive - visionary web dev\infx 490\anaconda\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\meowchelle\onedrive - visionary web dev\infx 490\anaconda\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (0.17.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.2.1

In [60]:
import lightgbm as lgb

In [54]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelBinarizer

In [55]:
from scipy.sparse import csr_matrix, hstack

In [43]:
Num_Brand = 5000
Num_Cat = 1000
Min_Df = 5
Max_Feat_Item_Des = 30000

In [5]:
#Finds missing values within dataset and replaces with 'NA'
def fill_NA_values(dataset):
    dataset['category_name'].fillna(value='NA', inplace=True)
    dataset['brand_name'].fillna(value='NA', inplace=True)
    dataset['item_description'].fillna(value='NA', inplace=True)

In [57]:
#
def cutting(dataset):
    pop_brand = dataset['brand_name'].value_counts().loc[lambda x: x.index != 'missing'].index[:Num_Brand]
    dataset.loc[~dataset['brand_name'].isin(pop_brand), 'brand_name'] = 'missing'
    pop_category = dataset['category_name']
    dataset.loc[lambda x: x.index != 'missing'].index[:Num_Brand]

In [4]:
#Puts it into binary and then places into a matrix
def to_categorical(dataset):
    dataset['category_name'] = dataset['category_name'].astype('category')
    dataset['brand_name'] = dataset['brand_name'].astype('category')
    dataset['item_condition_id'] = dataset['item_condition_id'].astype('category')

In [27]:
test = pd.read_csv('databases/test.tsv', engine='c', sep='\t')
train = pd.read_csv('databases/train.tsv', engine='c', sep='\t')
print('Train shape: ', train.shape)
print('Test shape: ', test.shape)

Train shape:  (29999, 8)
Test shape:  (29999, 7)

In [28]:
nrow_train = train.shape[0]
y = np.log1p(train["price"])
merge: pd.DataFrame = pd.concat([train, test])
submission: pd.DataFrame = test[['test_id']]

In [63]:
#calling function 'fill_NA_values'
fill_NA_values(merge)

In [58]:
#calling function 'cutting'
cutting(merge)

In [64]:
#calling function 'merge'
to_categorical(merge)

In [62]:
cv = CountVectorizer(min_df=NAME_MIN_DF)
X_name = cv.fit_transform(merge['name'])

IndentationError: unexpected indent (<ipython-input-62-5f96b8f32574>, line 2)